.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
  width: 400px;
}

h2 {
  margin-bottom: 2rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.inputUsername {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-top: 0.5rem;
}

.btnSubmit {
  background-color: #6441a5;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.btnSubmit:hover {
  background-color: #5e3f8f;
}
